body{
    background: url(https://t3.ftcdn.net/jpg/05/35/47/38/360_F_535473874_OWCa2ohzXXNZgqnlzF9QETsnbrSO9pFS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menubar{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    text-align: center;
}
.menubar ul{
    display: inline-flex;
    color: aliceblue;
    list-style: none;
}
.menubar ul li{
    width: auto;
    margin: auto;
    padding: 15px;
    font-size: 17px;
}
.menubar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    margin-left: 1px;
    margin-right: 2px;
}
h2{
    margin-right: 500px;
    margin-top: 11px;
}
.menubar ul li:hover a{
    color: rgb(185, 27, 27);
    font-weight: 700px;
}